  .custom-navbar {
    background-color: #fffaf6;
  }
  /* .main-section {
    height: 100vh;
  } */

  .btn-custom {
    background-color: #705C53;
  }
  .btn-custom:hover {
    background-color: #8b776d; /* New color when hovering */
    cursor: pointer; /* Makes the pointer appear as a hand */
  }
  .img-fluid {
    width: 100%;  /* Ensures responsiveness */
    max-height: 100%; /* Fills the container */
    object-fit: cover; /* Adjust this to 'contain' or 'fill' depending on needs cover */ 
  }
  .miss-fajardose-regular {
    font-family: "Miss Fajardose", serif;
    font-weight: 400;
    font-style: normal;
  }
  h1 { font-size: 4rem; }
  h2 { font-size: 3rem; }
  h3 { font-size: 30px; }

  .dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
.light-text {
    color: #EDDFE0;
}
hr {
    border: none;
    fill: black;
    height: 3px;
    opacity: 100%;
    /* Set the hr color */
    color: black;  /* old IE */
    background-color: black;  /* Modern Browsers */
  }

/* Style for SVG Logos */
.svg-logo {
  width: 100%; /* Default size for logos */
  height: auto; /* Maintain aspect ratio */
  margin: 0; /* Horizontal spacing */
  transition: transform 0.2s ease; /* Smooth scaling effect */
}

/* Media queries for responsiveness */

.video-container{
  position: relative;
      display: inline-block;
      margin: 0%;
}
.mute-button {
  position: absolute;
      bottom: 3%; /* Relative to the container */
      right: 1%; /* Relative to the container */
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      border: none;
      padding: 0.5em 1em; /* Scales with font size */
      margin-right: 1em;
      font-size: 0.7em; /* Relative to the container's font size */
      cursor: pointer;
      border-radius: 0.5em; /* Scales proportionally */
      opacity: 30%;
}
.video-container:hover .mute-button{
  opacity: 100%;
}
.image-banner{
  height: 50vh;
}
.video {
  border: 1px transparent #7d796d;
  border-radius: 20px; /* Makes the corners rounded */
  overflow: hidden;
  width: 110%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Adds shadow */
}
video {
  will-change: transform;
}
video {
  pointer-events: none;
}

/* animation attemnpt */

.hidden-element {
  opacity: 0;
  transform: translateY(50px); /* Start off-screen */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden-element.visible {
  opacity: 1;
  transform: translateY(0); /* Move to the normal position */
}

.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.about-me-image {
  height: auto;
}


/* Completely disable hover effects on touch devices */
@media (hover: none) {
  .mute-button:hover {
    background-color: transparent !important; /* Remove hover effect */
    pointer-events: none; /* Prevent hover from interfering */
  }
}

/* Prevent button from getting focused */
.mute-button {
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight */
  touch-action: manipulation; /* Allow scrolling */
}
